html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body header {
    padding: 0.7em;
}

header #menu {
    text-align: end;
}

/* map page specific */
#map_page {
    flex: 1;
}

#mapContainer {
    height: 100%;
}

#mapContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 95% 1fr;
}

#map {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 7;
    z-index: 1;
}

#footer {
    grid-area: 2 / 3 / 3 / 5;
    place-self: center;
    color: black;
    z-index: 2;
}
