{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" defer></script>
<script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
{% endblock %}

{% block header %}
<div id="searchBar" class="pure-u-1-2">
    <form action="/search" method="post" class="pure-form">
        <input type="text" class="pure-input-rounded" aria-label="Search" />
        <input type="submit" class="pure-input-rounded pure-button"/>
    </form>
</div>
{% endblock %}

{% block body %}
<div id="map_page" class="pure-g">
    <div id="sidebar" class="pure-u-1-3" hidden>
        <div id="sideBarPosts">
            <p>short list of existing posts will be made and shown here</p>
        </div>
    </div>
    <div id="mapContainer" class="pure-u-1">
        <div id="map"></div>
        <div id="footer">
            <a href="/aboutus">About us</a>
        </div>
        <div class="popupBackground" id="createPopup" hidden>
            <div class="popupWindow">
                <p>form</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
