{% extends "layout.html" %}

{% block body %}
<div id="post_page">
    <section id="post" class="pure-u-1-2">
        <h1>Post Page</h1>
        <h1>Post Title: {{ post.title }}</h1>
        <h1>Post ID: {{ post.post_id }}</h1>
        <!-- <p>Post Author: {{ post.author }}</p> -->
        <p>Post Description: {{ post.description }}</p>
        <p>Post Location: {{ post.location }}</p>
        <p>Post Image/Link: {{ post.image_link }}</p>
        <p>Post Date: {{ post.time }}</p>
    </section>
</div>
{% endblock %}